listen 0.0.0.0:${PORT};
resolver ${DNS} valid=5s;
proxy_http_version 1.1;
proxy_ssl_server_name on;
server_tokens off;

proxy_intercept_errors on;
error_page 405 /custom_405.html;

location = /custom_405.html {
    return 405;
}